.factura-infogeneral{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.factura-infogeneral-titulo{
    font-weight: 800;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}


.factura-infogeneral-contenido{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 10px;
    margin-bottom: 10px;
}

.factura-infocliente{
    width: 100%;
}

.factura-infocliente-titulo{
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 800;
}

.factura-infocliente-contenido{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-bottom: 10px;

}

.factura{
    font-size: 20px;
    font-weight: 800;
}

.select{
    border-radius: 6px;
    padding: 3px;
    outline: none;
    border: none;
}

.text-cantidad{
    width: 30px;
    text-align: right;
}

.tabla2 tbody{
    font-size: 10px;
}

.tabla2 td{
    padding: 3px;
}

.tabla2 th{
    text-align: left;
}

.small-font{
    font-size: 10px;
}